$light-grey: #f5f5f5;

$font-size-base: 14px;

$serif: 'SortsMillGoudy';
$sans-serif: 'GroteskMedium';
$sans-serif-bold: 'GroteskBold';

// $responsive-h1: 48px, 60px, 72px;

$small-max: 767px;
$medium-max: 1023px;
$medium-min: 768px;
$large: 1024px;
