$small-max: 767px;
$medium-max: 1023px;
$medium-min: 768px;
$large: 1024px;
$extra-large: 1400px;

$light-grey: #f5f5f5;
$medium-grey: #c2c2c2;

$font-size-base: 16px;

$serif: 'adobe-caslon-pro';
$sans-serif: 'aktiv-grotesk';

$responsive-h1: 3rem, 4.5rem, 5.125rem;
$responsive-h2: 1.35rem, 2.2rem, 2.625rem;
$responsive-h3: 0.75rem, 0.75rem, 0.75rem;
