@font-face {
    font-family: 'GroteskMedium';
    font-style: normal;
    font-weight: medium;
    src: url('/styles/fonts/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/HKGrotesk-Medium.otf') format('otf'),
         url('/styles/fonts/HKGrotesk-Medium.woff') format('woff'),
         url('/styles/fonts/HKGrotesk-Medium.woff2') format('woff2'),
         url('/styles/fonts/HKGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'GroteskBold';
    font-style: normal;
    font-weight: bold;
    src: url('/styles/fonts/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/HKGrotesk-Bold.otf') format('otf'),
         url('/styles/fonts/HKGrotesk-Bold.woff') format('woff'),
         url('/styles/fonts/HKGrotesk-Bold.woff2') format('woff2'),
         url('/styles/fonts/HKGrotesk-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SortsMillGoudy';
    font-style: normal;
    font-weight: normal;
    src: url('/styles/fonts/SortsMillGoudy-Regular.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/SortsMillGoudy-Regular.otf') format('otf'),
         url('/styles/fonts/SortsMillGoudy-Regular.woff') format('woff'),
         url('/styles/fonts/SortsMillGoudy-Regular.woff2') format('woff'),
         url('/styles/fonts/SortsMillGoudy-Regular.ttf') format('truetype');
}
