.container {
	lost-center: 90vw;
}

@include breakpoint(medium) {
    .container {
	    lost-center: 88vw;
    }
}

@include breakpoint(large) {
	@lost gutter 60px;
}

@include breakpoint($extra-large) {	
    .container {
	    lost-center: 1300px;
    }
}
