.global-nav {
	display: flex;
	width: 100%;

	a {
        line-height: 1.4;
	}

	&__logo {
		align-self: flex-start;
        font: {
        	family: $sans-serif;
        	size: 0.9rem;
        	weight: 700;
        };
        pointer-events: none;
        text-transform: uppercase;

        &:before {
        	display: none;
        }
	}

	&__contact {
		font: {
        	family: $sans-serif;
        	size: 0.85rem;
        };
        margin-left: auto;
	}
}
